/* CONSTANTS  */

:root {
  --pink: #d66280;
  --purple: #2d3261;
  --blackish: #0a0a0a;
  --offwhite: #f6eee3;
  --orange: rgb(255, 85, 0);
  --lightorange: orange;
  --red: rgb(146, 22, 22);
  --greencorrect: #59bd5b;
  --browny: #6d3443;
  --greeny: #cde96f;
  --main-bg-color: rgb(14, 9, 14);
  --font-headings: "JetBrains Mono", monospace;
  --font-body: "Poppins", sans-serif;
  --padding: 2rem;
  --base: desaturate(#f3cc8b, 20%);
  --darker: desaturate(darken(var(--base), 33%), 45%);
  --unit: 1mm;
}

/* GET RID OF TWINE STYLES */
#story {
  margin: 0;
}

#passages {
  max-width: 100%;
}

#story a.link-external:after {
  content: "";
}

button,
.inline-btn-wrapper > a {
  background-color: var(--pink);
  color: var(--offwhite);
  border: var(--offwhite) 2px solid;
  border-radius: 3px;
  font-family: var(--font-headings);
  text-transform: uppercase;
  padding: 5px;
  font-weight: 800;
  box-shadow: var(--blackish) 4px 4px;
}

button:hover {
  background-color: var(--lightorange);
  border: var(--offwhite) 2px solid;
  color: var(--blackish);
}

button:focus,
.inline-btn-wrapper > a {
  transform: translate(2px, 2px);
  box-shadow: var(--accent-color-shadow) 1px 1px;
}

a {
  color: var(--accent-color-secondary);
}

a:active {
  background-color: var(--color-pink);
}

a:hover {
  color: var(--offwhite);
}

#story a.link-external:after {
  content: "";
}

#story {
  margin: 0;
}

body[data-tags~="t8n-dissolve"] .transition-in {
  position: absolute;
  opacity: 0;
}
body[data-tags~="t8n-dissolve"] .passage {
  transition: 1s;
  -webkit-transition: 1s;
}
body[data-tags~="t8n-dissolve"] .transition-out {
  position: absolute;
  opacity: 0;
}

/* MAIN STYLES  */

h1,
h2,
h3 {
  font-family: "Contrail One", cursive;
}

p {
  font-size: 1.6rem;
}

.purple {
  color: black;
  background-image: url("https://remote.co.com/UCA/assets/img/purplebackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: "Didact Gothic", sans-serif;
}

.green {
  color: black;
  background-image: url("https://remote.co.com/UCA/assets/img/greenbackground.jpg");
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: "Didact Gothic", sans-serif;
}

messagebox {
  background: none;
  background-image: none;
  width: 70vw;
  padding: 5vh 0;
  height: 60vh;
  font-size: x-large;
  position: fixed;
  top: 20vh;
  left: 15vw;
}

messagebox2 {
  width: 70vw;
  padding: 5vh 0;
  height: 60vh;
  font-size: x-large;
  position: fixed;
  top: 20vh;
  left: 15vw;
  display: flex;
  justify-content: center;
}

.staticgif {
  box-shadow: -150px #fff;
  width: 300px;
  padding: 10px;
}

.staticgif.center {
  width: 1000px;
  position: fixed;
  left: 15vw;
  top: 10vw;
  z-index: 1;
}

/* footer  */
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  padding: var(--padding);
  width: 100%;
  background-color: var(--main-bg-color);
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-wrapper {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-end;
  gap: 1rem;
}

.nav-wrapper:last-child {
  display: flex;
  align-items: flex-end;
}

.nav-item > a > img {
  width: 40px;
}

/* .nav-item:last-child {
  margin-block-end: 0;
} */

.nav-item > button {
  font-size: 1.6rem;
}

.hide {
  display: none;
  opacity: 0;
}

/* PORTAL  */
main {
  padding: var(--padding);
}

section.hero {
  /* background-color: aquamarine; */
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: video;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "video chat"
    "footer footer";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 7fr 0.5fr;
  height: 100vh;
  gap: 2rem;
}

.grid-container.text {
  grid-template-areas:
    "logo chat"
    "footer footer";
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 7fr 0.5fr;
}

.grid-container > .video {
}

.grid-container > .chat {
  overflow: scroll;
  height: 80vh;
  width: min-content;
  min-width: 100%;
}

.grid-container > .portal-footer {
  background-color: rgb(24, 20, 28);
  grid-area: footer;
}

/* entrance  */
#resultbutton > .code-input.entrance > input {
  max-width: 5rem;
  min-width: inherit;
  text-align: center;
  font-size: 2rem;
}

/* chat input  */
section.chat > .chat-input {
}

section.chat > .chat-input > #resultbutton > .code-input > input,
#resultbutton > .code-input > input {
  font-family: "Contrail One", cursive;
  font-size: 2rem;
  background-color: rgb(203, 198, 198);
  color: black;
  font-weight: 800;
  border: none;
  border-radius: 1rem;
  margin-inline-end: 2rem;
}

section.chat > .chat-input > #resultbutton > .code-input > input:hover,
#resultbutton > .code-input > input:hover {
  background-color: var(--pink);

  border: 2px solid white;
}

section.chat > .chat-input > #resultbutton > .code-input,
#resultbutton > .code-input {
  display: flex;
}

section.chat > .chat-input > #coderesult,
#coderesult {
  font-weight: 800;
}

#helperText > span {
  font-weight: 900;
}

#coderesult1,
#coderesult2,
#coderesult3,
#coderesult4 {
  color: white;
}

/* VIDEO  */

.grid-container > .hero > iframe {
  width: 100%;
  height: 100%;
}

/* CHAT  */

section.chat {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  background-color: #f5deb34f;
  border-radius: 1rem;
  justify-content: space-between;
}

section.chat > .messages-container > .message {
  display: flex;
  gap: 1rem;
  background-color: rgb(203, 198, 198);
  margin-block-end: 2rem;
  border-radius: 1rem;
  color: black;
  padding: 1rem;
  width: fit-content;
}

section.chat > .messages-container > .message > .avatar {
  max-width: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

section.chat > .messages-container > .message > .message-container {
  display: flex;
  flex-direction: column;
}

section.chat > .messages-container > .message > .message-container > .sender {
  font-size: 1.2rem;
}

section.chat > .messages-container > .message > .message-container > p {
  margin-block-end: 0;
}

/* PORTAL FOOTER  */
section.portal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
  gap: 2rem;
  margin: 0rem -2rem -2rem -2rem;
}

section.portal-footer.hero {
  justify-content: flex-start;
}
footer > .logo-wrapper {
  display: flex;
  gap: 1rem;
}

footer > .logo-wrapper > .uca-logo,
section.portal-footer > .uca-logo {
  max-width: 70px;
}

footer > .logo-wrapper > .uca-logo-text,
section.portal-footer > .uca-logo-text {
  max-width: 100px;
  color: white;
}

section.portal-footer > a {
  color: white;
}

/* LOGO  */

section.chatlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.rotate-logo-wrapper {
  position: relative;
  width: 300px; /* Set the width and height according to your images */
  height: 200px;
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* You can adjust the opacity or other styles for the overlay */
  opacity: 0.5;
}

.overlay-image.one {
  top: 10%;
}

.overlay-image.two {
  top: 60%;
}

.overlay-image.three {
  top: 90%;
}

/* TREE  */

section.hero.tree-grid-container {
  display: grid;
}

.tree-grid-container {
  background-image: url("/assets/img/tree2a.png"); /* Replace with your image file path */
  background-size: contain; /* Cover the entire viewport */

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  display: grid;
  grid-template-areas:
    "tree-two . ."
    ". . tree-one"
    ". . . "
    "tree-three . tree-four"
    ". . .";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
  height: 100vh;
  gap: 2rem;
}

.tree-one {
  grid-area: tree-one;
}

.tree-two {
  grid-area: tree-two;
}

.tree-three {
  grid-area: tree-three;
}

.tree-four {
  grid-area: tree-four;
}

.full-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PHOTOSYN  */

.grid-container.photo {
  display: grid;
  grid-template-areas:
    "progress chat"
    "video chat"
    "footer footer";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 0.5fr 6.5fr 0.5fr;
  height: 100vh;
  gap: 2rem;
}

.grid-container.photo > .chat {
  grid-area: chat;
}

.photoprogress {
  grid-area: progress;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photoprogress > h3 {
  color: white;
  font-size: 3rem;
}

section.hero.photo-grid-container {
  display: grid;
}

.photo-grid-container {
  background-image: url("/assets/img/photosyn.png"); /* Replace with your image file path */
  background-size: contain; /* Cover the entire viewport */

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  display: grid;
  grid-template-areas:
    ". . ."
    "photo-one . photo-four"
    "photo-three  . photo-five"
    "photo-two . ."
    ". . .";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1.5fr 1fr 1fr 0.5fr;
  height: 100vh;
  gap: 2rem;
}

.photo-one {
  grid-area: photo-one;
}

.photo-two {
  grid-area: photo-two;
}

.photo-three {
  grid-area: photo-three;
}

.photo-four {
  grid-area: photo-four;
}

.photo-five {
  grid-area: photo-five;
}

section.hero.photo-grid-container > div > #resultbutton > .code-input > input {
  min-width: inherit;
}

/* BUTTON PORTAL */
.button-grid-container {
  display: grid;
  grid-template-areas:
    "taskOne . taskThree"
    ". button . "
    "taskTwo . taskFour";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 80vh;
  gap: 2rem;
}

.portal-task-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portal-task-item > img {
  max-width: 50px;
}

.portal-task-item.one {
  grid-area: taskOne;
}

.portal-task-item.two {
  grid-area: taskTwo;
}

.portal-task-item.three {
  grid-area: taskThree;
}

.portal-task-item.four {
  grid-area: taskFour;
}

.portal-button-container {
  grid-area: button;
}

.portal-task-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portal-task-item > div > h3 {
  color: white;
  font-size: 3rem;
  margin-block-end: -6rem;
}

.portal-task-item > div > h3.above {
  margin-block-end: 0rem;
}

.portal-task-item > .circle {
  width: 6rem; /* Adjust the width to your preference */
  height: 6rem; /* Adjust the height to your preference */

  border-radius: 50%; /* Creates a circular shape */
  display: inline-block; /* Ensures the circle doesn't disrupt the layout */
  box-shadow: var(--blackish) 4px 4px;
}
.portal-task-item > .circle.red {
  background-color: var(--red);
}

.portal-task-item > .circle.greencorrect {
  background-color: var(--greencorrect);
}

/* PAPER EFFECT  */

main.letter {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letterpaper {
  grid-area: letterpaper;
  background: #e0c798; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #e0c798 0%,
    #e0cc84 44%,
    #c1944f 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #e0c798 0%,
    #e0cc84 44%,
    #c1944f 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #e0c798 0%,
    #e0cc84 44%,
    #c1944f 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0c798', endColorstr='#c1944f',GradientType=0 ); /* IE6-9 */
  padding: 3rem;
}

.letterpaper {
  color: black;
  max-width: 80%;
}

.letter-wrapper > .letterpaper {
  height: auto;
  overflow: hidden;
  /* padding: 20px; */
  clip-path: polygon(
    1% 2%,
    3.5% 0.1%,
    8.9% 2.7%,
    16.2% 1.2%,
    19.7% 0.8%,
    24.7% 2%,
    31.2% 0%,
    35.9% 2.3%,
    40.6% 0.5%,
    47.1% 1.8%,
    49.9% 1%,
    53.8% 2.5%,
    62.2% 0.4%,
    67.3% 1.2%,
    70.3% 0.3%,
    75.8% 1.4%,
    78.5% 1.7%,
    84% 2.6%,
    91.1% 0.5%,
    93.6% 2.4%,
    97.3% 0.3%,
    98.9% 6%,
    98.1% 11.4%,
    98.6% 15.5%,
    97.3% 17.8%,
    97.7% 27.4%,
    98.3% 28.5%,
    99.7% 34.1%,
    98.8% 41.9%,
    98.3% 45.7%,
    98.4% 50.9%,
    98.7% 57.4%,
    99.6% 60.4%,
    99.4% 66.6%,
    99.2% 69.5%,
    97.4% 77.1%,
    98.1% 82.3%,
    99.9% 83.5%,
    98.2% 91.5%,
    99.3% 95.3%,
    98% 98.6%,
    93.6% 97.4%,
    90.3% 98.3%,
    86.8% 98.3%,
    78.6% 98.5%,
    76.4% 99.2%,
    69.7% 99.8%,
    64.2% 99.3%,
    61.8% 99.2%,
    57.2% 98.1%,
    48.7% 98.3%,
    46.8% 99%,
    39.6% 98.9%,
    33.8% 97.3%,
    28.2% 99.4%,
    27% 98.3%,
    22.1% 98.6%,
    13.1% 97.1%,
    8.7% 99.3%,
    2.7% 97.4%,
    2% 98.2%,
    2.1% 94.3%,
    0.7% 90.5%,
    0.9% 86.3%,
    2.2% 78.2%,
    0.4% 76.7%,
    1.2% 72.1%,
    2% 64%,
    1.4% 59.8%,
    0.4% 57.3%,
    0.3% 49.1%,
    2.9% 44.7%,
    1.9% 41.3%,
    0.8% 35.7%,
    2.9% 31.3%,
    0.8% 24.9%,
    2.7% 20.5%,
    0.8% 17.4%,
    2.5% 8.6%,
    1.1% 5.5%
  );
}

.letter-wrapper {
  position: relative;
  width: fit-content;
  margin: 40px auto;

  /* // IMPORTANT PART #1 */
  filter: drop-shadow(-1px 6px 3px rgba(0, 0, 0, 0.5));
}

.letterinner {
  border-collapse: collapse;
  width: fit-content;
  padding: 1rem;
  color: black;
  font-size: 2.5rem;
}

.letterinner > p {
  margin-bottom: 1rem;
  font-family: "Shantell Sans", serif;
  font-size: 2.5rem;
}

/* ANNE SAYS  */

main.annesays {
  height: 90vh;
}

section.hero > .annesays {
  max-height: 80vh;
}

main.annesays,
.annesays {
  background-image: url("/assets/img/neon-bg.jpeg"); /* Replace with your image file path */
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */

  display: grid;
  grid-template-areas:
    ". logo1 ."
    ". title ."
    ". . play";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  gap: 2rem;
}

main.annesays.darker::before,
.annesays.darker::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
}

main.annesays > .title,
.annesays > .title,
main.annesays > .titleWrapper,
.annesays > .titleWrapper {
  grid-area: title;
}

main.annesays > .title,
.annesays > .title,
main.annesays > .titleWrapper > .title,
.annesays > .titleWrapper > .title {
  text-align: center;
  background: rgb(62, 49, 222);
  background: linear-gradient(
    344deg,
    rgba(62, 49, 222, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  padding: 3rem;
  transform: skew(-6deg);
  box-shadow: 10px 10px 5px 0px #05f6ff;
  height: fit-content;
}

main.annesays > .title > h1 > span,
.annesays > .title > h1 > span,
.annesays > .title > h2,
main.annesays > .titleWrapper > .title > h1 > span,
.annesays > .titleWrapper > .title > h1 > span,
.annesays > .titleWrapper > .title > h2 {
  display: flex;
  flex-direction: column;
  font-family: "Goldman", sans-serif;
  text-shadow: 0 0 10px #ffffff;
  font-size: 10rem;
  letter-spacing: 0.6rem;
  word-spacing: 1px;
  color: #05f6ff;
  font-weight: 700;

  font-style: normal;
  font-variant: small-caps;
  text-transform: uppercase;
  line-height: 10rem;
}

.annesays > .titleWrapper > .title > h2 {
  font-size: 6rem;
  margin-block-end: 0;
  line-height: 6rem;
}

.play-btn-container {
  grid-area: play;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #162922;
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  border-radius: 50%;
}

.play-btn-container > button {
  background-color: #d66280;
}

.play-btn-container > img,
.play-btn-container > a > img {
  max-width: 100px;
}

/* fun circle  */

.box {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, yellow),
    linear-gradient(#262626, #141414);
  animation: rotate 7s linear infinite;
}

.box:before,
.box:after {
  content: " ";
  position: absolute;
  inset: 8px;
  background: linear-gradient(#161616, #262626);
  border-radius: inherit;
}

.box:before {
  background: linear-gradient(45deg, transparent, transparent 40%, yellow);
  filter: blur(32px);
}

.play-btn-container > a {
  z-index: 999;
}

/* SCRABBLE  */

.scrabble-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scrabble-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  width: 100%;
  height: 60vh;
}
.scrabble-tile {
  width: 50px;
  height: 50px;
  background-color: #f4f4f4;
  border: 2px solid #333;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#tile1 {
  background-color: #ffcc66;
}
#tile2 {
  background-color: #ccffcc;
}
#tile3 {
  background-color: #66b2ff;
}
#tile4 {
  background-color: #ff6666;
}
#tile5 {
  background-color: #ffff99;
}
#tile6 {
  background-color: #ccffcc;
}

.scrabble-container {
  display: flex;
  justify-content: center;
}

.scrabble-container .tile {
  margin: var(--unit) / 2;
  --size: calc(19 * var(--unit));
  width: var(--size);
  height: var(--size);
}

.all {
  --small-size: calc(var(--unit) * 9.5);
  margin-top: calc(var(--unit) * 12.5);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: calc(var(--small-size) * 10.9);
  height: calc(var(--small-size) * 10.9);
}

.all .tile {
  --size: var(--small-size);
  width: var(--size);
  height: var(--size);
}

.tile {
  --tile-base: #f5cf90;
  --thin: calc(var(--size) * 0.5 / 19);
  --small: calc(var(--size) * 0.75 / 19);
  --med: calc(var(--small) * 1.5);

  background-color: var(--tile-base);
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/49914/veneer-birch-texture-fs8.png");
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 10px 10px 0;
  border-style: solid;
  border-top-width: var(--small);
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: var(--med);

  border-radius: 0.7rem;
}

.tile[data-letter]::before {
  content: attr(data-letter);
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: calc(var(--size) * 0.7);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 4px 4px 6px var(--tile-base), 0 0 0 rgba(0, 0, 0, 0.7),
    1px 2px 1px rgba(255, 255, 255, 0.5);
}

.tile[data-letter]::after {
  color: black;
  font-family: sans-serif;
  font-size: calc(var(--size) * 0.225);
  position: absolute;
  right: 12.5%;
  bottom: 12.5%;
  transform: translate(50%, 50%);
}

/* QUIZ  */
.quiz {
  width: 100%;
}
.quiz > h3 {
  color: white;
  font-weight: 800;
  font-size: 3rem;
  letter-spacing: 0.3rem;
}

.quiz > .quiz-options {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.quiz > .quiz-options > .option > button {
  background-color: var(--browny);
}

.quiz > .quiz-options > .option > button:hover {
  background-color: var(--greeny);
}

/* UCALAB */
main.ucalab {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
}

main.ucalab > .ucalab-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--offwhite);
}

main.ucalab > .ucalab-wrapper > h3 {
  font-family: "Contrail One", cursive;
  font-size: 3rem;
}

/* ANIMATION  */

@keyframes rotate {
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.animaterotate {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(-200deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotateIn {
  0% {
    transform-origin: center center;
    transform: rotate(-200deg);
    opacity: 0;
  }
  100% {
    transform-origin: center center;
    transform: rotate(0);
    opacity: 1;
  }
}
.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}

@-webkit-keyframes rotateInDownLeft {
  0% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotateInDownLeft {
  0% {
    transform-origin: left bottom;
    transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }
}
.rotateInDownLeft {
  -webkit-animation-name: rotateInDownLeft;
  animation-name: rotateInDownLeft;
}

@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}

@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}

@-webkit-keyframes growRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
  }
  15% {
    opacity: 1;
    transform: scale(0.3);
  }

  70% {
    opacity: 1;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@keyframes growRightBig {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  15% {
    opacity: 1;
    transform: scale(0.3);
  }
  70% {
    opacity: 1;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(2);
  }
}

.growRightBig {
  -webkit-animation-name: growRightBig;
  animation-name: growRightBig;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}

.fadeOutSlow {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

@-webkit-keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
}
.fadeInOut {
  -webkit-animation-name: fadeInOut;
  animation-name: fadeInOut;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

@keyframes bobbing {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); /* Adjust the distance of the bobbing */
  }
}

.bobbing {
  animation: bobbing 1.5s infinite; /* Adjust the duration of the animation */
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px var(--lightorange);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

.staticFade {
  -webkit-animation-name: staticFade;
  animation-name: staticFade;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

@keyframes staticFade {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}

@-webkit-keyframes staticFade {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}
